@model List<WebApp1MvcCrud.Models.Student>

<div class="container py-5">
    <div class="container">
        <h1>Students List</h1>
    </div>
</div>

<div class="container">

    @if (Model != null && Model.Any())
    {
        <table class="table table-striped">
            <thead>
               <tr>
                    <th>Id</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Age</th>
                    <th>Grade</th>
                    <th>Registration Date</th>
               </tr>
           </thead>
           <tbody>
               @foreach (var tag in Model)
               {
                    <tr>
                        <td>@tag.Id</td>
                        <td>@tag.FirstName</td>
                        <td>@tag.LastName</td>
                        <td>@tag.Age</td>
                        <td>@tag.Grade</td>
                        <td>@tag.RegDate.ToString("MM/dd/yyyy")</td>
                    </tr>
               }
            </tbody>
       </table>    
    }
    else
    {
        
    }
</div>
